.aboutus {
  background: "#000a29";
  width: 100%;
}

.cards {
  margin-left: auto;
  margin-right: auto;
  background-color: "#000a29";
  width: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: inherit;
}
