.home {
  font-family: "Poppins";
  background-color: #000a29;
  width: 100%;
  height: 100%;
  padding: 47px 10px 11px 10px;
}

.home__svg {
  width: 85%;
}

.home__buttons {
  padding: 250px 300px;
}

.home__modal__container {
  padding: 25px;
}
