.home {
  font-family: "Poppins";
  background-color: #000a29;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 47px 10px 11px 10px;
}

.home__svg {
  width: 85%;
}

.home__buttons {
  margin-top: 64%;
  margin-bottom: 82%;
}

.home__modal__container {
  padding: 25px;
}
